// app global css in SCSS form
@font-face {
  font-family: Wallop;
  src:
    url('fonts/Wallop-Regular.woff2') format('woff2'),
    url('fonts/Wallop-Regular.woff') format('woff'),
    url('fonts/Wallop-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Controls how the font is displayed while loading */
}
@font-face {
  font-family: Wallop;
  src:
    url('fonts/Wallop-Bold.woff2') format('woff2'),
    url('fonts/Wallop-Bold.woff') format('woff'),
    url('fonts/Wallop-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: Wallop, Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision;
  // padding-top: calc(var(--header-height) - 1px)
}

a {
  text-decoration: none;
  color: black;
}

a.q-markdown--link,
a.modus {
  text-decoration: underline;
  text-decoration-color: #01983b;
  text-decoration-thickness: min(0.08em, 0.1rem);
  text-underline-offset: 0.14em;
  color: black;
}

a:hover.q-markdown--link,
a:hover.modus {
  text-decoration: underline;
  text-decoration-color: black;
  color: #01983b;
}

.text-help {
  color: $grey-6;
}

li + li {
  margin-top: 10px;
}

.text-logo {
  color: #01983b;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 2.3em;
}

.text-hint {
  color: $grey-8;
  font-size: 0.8em;
}

.app-md {
  blockquote.q-markdown--note {
    border-width: 0px 0px 0px 8px;
    border-radius: 0;
    border-style: solid;
    border-color: #9e9e9e #009688;
    background-color: white;
  }

  table.q-markdown--table ul {
    padding-left: 20px;
  }
}

.dialog-sm {
  width: 500px !important;
  max-width: 80vw !important;
}

.dialog-md {
  width: 700px !important;
  max-width: 80vw !important;
}

.dialog-lg {
  width: 900px !important;
  max-width: 80vw !important;
}

.dialog-xl {
  width: 1200px !important;
  max-width: 80vw !important;
}

.option-0 {
  padding-left: 0px;
  //font-weight: bold;
}

.option-1 {
  padding-left: 10px;
}

.option-2 {
  padding-left: 20px;
  font-size: smaller;
}

.box-info {
  background-color: $info;
  color: white;
  padding: 0.5em;
}

.box-warning {
  background-color: $warning;
  color: $grey-10;
  padding: 0.5em;
}

.box-negative {
  background-color: $negative;
  color: white;
  padding: 0.5em;
}

.box-positive {
  background-color: $positive;
  color: white;
  padding: 0.5em;
}
