// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #FCC447;
$secondary: #4D303F;
$accent: #e6a21a;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #80a795;
$warning: #e6a21a;

$primary-light: #FFF5D4;
$primary-semi-dark: #C4A253;
$primary-dark: #BA8025;

$secondary-ultra-light: #F3E9EE;
$secondary-super-light: #DCC6CE;
$secondary-light: #907181;

.text-primary-light {
  color: $primary-light !important;
}

.bg-primary-light {
  background-color: $primary-light !important;
}

.text-primary-dark {
  color: $primary-dark !important;
}

.bg-primary-dark {
  background-color: $primary-dark !important;
}

.text-primary-dark {
  color: $primary-dark !important;
}

.bg-primary-dark {
  background-color: $primary-dark !important;
}

.bg-secondary-ultra-light {
  background-color: $secondary-ultra-light !important;
}

.q-btn {
    padding: 4px 8px !important;
}

.q-btn.bg-primary {
    color: $secondary !important;
    outline: 1px solid $primary-semi-dark !important;
}

.q-badge.bg-primary, .q-chip.bg-primary {
    color: $secondary !important;
}

.q-card {
  border-radius: 1rem !important;
  border: 1px solid $secondary-super-light !important;
}

.q-field--outlined:has(.text-secondary) .q-field__control::before {
  border-color: $secondary-super-light !important;
}

.q-field--outlined:has(.text-secondary) .q-icon,
.q-field--outlined:has(.text-secondary) .q-field__label {
  color: $secondary-light !important;
}

.q-btn--outline.text-secondary::before {
  border-color: $secondary-super-light !important;
}

.q-btn--outline.text-secondary.right-border {
  border-right: 1px solid $secondary-super-light !important;
}

.q-dialog__inner > .q-card.dialog-md {
  border-radius: 1rem !important;
}

.q-separator {
  background-color: $secondary-super-light !important;
}

.q-table__container {
  border: 1px solid $secondary-super-light !important;
  border-radius: 1rem !important;
}

.q-tabs {
  border-radius: 0.5rem !important;
  border: 1px solid $secondary-super-light !important;
  color: $secondary-light !important;
}